@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.ForgotPass {
  height: 100vh;
  width: 100vw;
  font-family: "Raleway", sans-serif;
  .HDiv {
    height: 10vh;
    width: 100vw;
    padding: 2.5vh 0;
    h1 {
      font: italic 200 8vh "Raleway";
      text-align: center;
      margin: 0;
      strong {
        font: italic 800 64px "Raleway";
      }
    }
  }
  .RegMain {
    display: flex;
    height: 85vh;
    width: 100vw;

    .RegImage {
      height: 85vh;
      width: 50vw;
      display: flex;
      justify-content: end;
      svg {
        position: relative;
        left: 1.5vw;
        height: 60vh;
        width: auto;
        filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.25));
      }
    }
    .ForgotPasslock {
      height: 85vh;
      width: 50vw;
      .ForgotPassReg {
        .Wrong {
          border: 2px solid red;
          &:focus{
            outline: none;
          }
        }
        span {
          font: normal 300 1.5vh "Raleway";
          color: red;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        height: 58.5vh;
        margin-top: 11.5vh;
        width: 30vw;
        box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        h2 {
          font: normal 300 6.8vh "Raleway";
          margin: 2.5vh 0;
          color: #999a1c;
        }
        form {
          width: 25vw;
          display: flex;
          flex-direction: column;
          label {
            font: normal 300 2.5vh "Raleway";
            margin: 2vh 0;
          }
          input {
            height: 4vh;
            background: #fbfbfb;
            border: 1px solid rgba(0, 0, 0, 0.3);
            font: normal 300 2vh "Raleway";
            box-sizing: border-box;
            border-radius: 4px;
            padding-left: 1vw;
            &::placeholder {
              font: normal 300 2vh "Raleway";
              color: rgba(0, 0, 0, 0.2);
            }
          } 
        }
        .ButtonForgot{
          font: italic 700 2vh "Raleway";
            color: #999a1c;
            background-color: white;
            height: 35px;
            margin-left: auto;
            margin-right: 3vw;
            margin-top: 2vh;
            width: 130px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            box-sizing: border-box;
            border-radius: 4px;
            &:hover {
              cursor: pointer;
            }
        }

        .ButtonForgot-Reset{
          font: italic 700 2vh "Raleway";
          color: #999a1c;
          background-color: white;
          height: 35px;
          margin-left: auto;
          margin-right: 3vw;
          margin-top: 2vh;
          width: 170px;
          border: 1px solid rgba(0, 0, 0, 0.2);
          box-sizing: border-box;
          border-radius: 4px;
          &:hover {
            cursor: pointer;
          }
        }

        .ForgotBottom {
          display: flex;
          justify-content: space-between;
          height: 6vh;
          width: 25vw;
          margin-bottom: 0vh;
          a {
            font: italic 500 2vh "Raleway";
            color: #999a1c;
          }
          }
        }
      }
    }

  }

